@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

/*------------------
  CSS VARIABLES
  ------------------*/

:root {
	--red-color: #b90415;
	--red-color-hover: #d3071b;
	--blue-color: #103063;
	--blue-color-hover: #143f85;
	--light-gray-color: #f4f4f4;
}

/*------------------
  BASE
  ------------------*/

body {
	font-family: "PT Sans", sans-serif;
	background-color: #252529;
	margin: 0;
	color: white;
	line-height: 1.6;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #ccc;
}

img {
	width: 100%;
}

/*------------------
  GLOBAL STYLES
  ------------------*/

.container {
	max-width: 1180px;
	text-align: center;
	margin: 0 auto;
	padding: 0 3rem;
}

.lead-text {
	font-size: 1.3rem;
}

.text-blue {
	color: var(--blue-color);
}

.text-light {
	color: var(--light-gray-color);
}

.bg-light {
	background-color: var(--light-gray-color);
	color: #333;
}

.btn {
	padding: 1rem;
	color: white;
	display: inline-block;
}

.btn-red {
	background: var(--red-color);
}

.btn-red:hover {
	background: var(--red-color-hover);
}

.btn-blue {
	background: var(--blue-color);
}

.btn-blue:hover {
	background: var(--blue-color-hover);
}

/*------------------
  NAVIGATION
  ------------------*/

.nav-bar {
	height: 40px;
	width: 100%;
	background-color: #333;
	color: #eee;
	position: fixed;
}

.nav-menu {
	padding: 0;
	margin: 0;
}

.nav-item {
	display: inline;
	float: left;
}

.nav-link {
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	color: #eee;
	text-decoration: none;
}

.nav-link:hover {
	background-color: #444;
}

.openup {
	display: none;
}

/* NAVIGATION - Media Queries */

@media screen and (max-width: 580px) {
	.nav-bar {
		height: auto;
		border-bottom: 0;
	}

	.nav-menu {
		display: none;
		height: auto;
	}

	.nav-item {
		width: 100%;
		float: left;
		position: relative;
	}

	.nav-link {
		text-align: left;
		width: 100%;
		text-indent: 25px;
		background: #333;
		border-bottom: 1px solid #555;
	}

	.nav-link:hover {
		background: #444;
	}

	.openup::after {
		content: "|||";
		transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		/* IE 9 */
		-webkit-transform: rotate(-90deg);
		/* Safari and Chrome */
		width: 30px;
		height: 30px;
		display: inline-block;
		position: absolute;
		right: 5px;
		top: 20px;
	}

	.openup {
		display: block;
		background-color: #333;
		width: 100%;
		position: relative;
	}
}

/*------------------
  MAIN VISUAL
  ------------------*/

.main-visual {
	margin: 0;
	padding: 0;
	background: url("../img/showcase.jpg") no-repeat center/cover;
	width: 100%;
	height: 100vh;
	position: relative;
	overflow-y: hidden;
}

.main-section {
	margin-top: 25vh;
}

.main-heading {
	font-size: 4rem;
	margin-bottom: 0;
}

.main-subheading {
	font-size: 2rem;
}

/* MAIN VISUAL - Media Queries */
@media screen and (max-width: 580px) {
	.main-visual {
		height: 50vh;
	}

	.main-section {
		margin-top: 15vh;
	}

	.main-heading {
		font-size: 3rem;
	}

	.main-subheading {
		font-size: 1.5rem;
	}
}

@media screen and (max-height: 580px) {
	.main-desc {
		display: none;
	}
}

/*------------------
  SECTION
  ------------------*/

.section {
	padding: 2rem 0;
}

.section-heading {
	font-size: 2.5rem;
	margin: 0;
}

.section-subheading {
	font-size: 2rem;
}

/* ENTERTAINMENT SECTION */

.entertainment {
	background: url("../img/section-bg.jpg") no-repeat bottom/cover;
	padding: 10rem 0;
}

/*------------------
  GIFT CARDS
  ------------------*/

.gift-cards {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(2, 1fr);
	text-align: left;
}

/* GIFT CARDS - Media Queries */

@media screen and (max-width: 780px) {
	.gift-cards {
		grid-template-columns: 1fr;
	}
}

/*------------------
  FOOTER
  ------------------*/

.footer-cols {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4, 1fr);
	text-align: left;
	padding: 2rem;
}

.footer-heading {
	font-size: 1.2rem;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #444;
}

.footer-item {
	font-size: 0.9rem;
}

.copyright {
	background-color: #333;
	text-align: center;
	padding: 1rem;
}

@media screen and (max-width: 780px) {
	.footer-cols {
		display: none;
	}
}

/*------------------
  UTILITY
  ------------------*/

@media screen and (max-width: 580px) {
	.hide-on-small {
		display: none;
	}
}

.mb {
	margin-bottom: 1rem;
}

.mt {
	margin-top: 1rem;
}

.cf::before,
.cf::after {
	content: "";
	display: table;
}

.cf::after {
	clear: both;
}

.cf {
	zoom: 1;
}
